
$primary-purple: #373975;
$primary-turquoise: #1E90BB;
$primary-purple-tint: #F6F5FD;

$secondary-purple-1: #2C2C77;
$secondary-purple-2: #7F7FD1;
$secondary-purple-3: #8291ED;
$secondary-purple-4: #E0E0FF;

$grayscale-black: #000000;
$grayscale-gray: #999999;
$grayscale-light-gray: #DDDDDD;
$grayscale-offwhite: #F6F6F6;
$grayscale-white: #FFFFFF;

$primary-font: Medium;
$modern-bold: 'ModernEra-Bold';
$modern-regular: 'ModernEra-Regular';
$modern-medium: 'ModernEra-Medium';

$border-radius: 25px;
$text-small: 12px;

$breakpoints: (
  'small':  1024px,
  
  'large':  1200px
) !default;

/* START Added by Ryan for BFCM */
.outer-canvas-bfcm {
font-weight: bold;	width: 100%;	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Bold";
	@media(max-width:767px) {
	margin-bottom:20px;
	}
	}
.canvas-bfcm {
	width: 100%;
			background-image: url("data:image/svg+xml,%3Csvg width='1440px' height='160px' viewBox='0 0 1440 160' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cdefs%3E%3ClinearGradient x1='2.76601866%25' y1='49.4057777%25' x2='97.8948102%25' y2='50.5909707%25' id='linearGradient-1'%3E%3Cstop stop-color='%23DB7093' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='%23ffdab9' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3Crect id='path-2' x='0' y='0' width='1440' height='160'%3E%3C/rect%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-2'%3E%3Cmask id='mask-3' fill='white'%3E%3Cuse xlink:href='%23path-2'%3E%3C/use%3E%3C/mask%3E%3Cuse id='Rectangle' fill='url(%23linearGradient-1)' xlink:href='%23path-2'%3E%3C/use%3E%3Cpath d='M656.289088,530 C628.184214,525.596651 599.651569,523.004099 572.050424,516.486824 C415.426716,479.525016 310.2873,386.296863 276.849296,227.269753 C232.509159,16.3916114 360.208434,-169.94105 538.92825,-215.797303 C643.583926,-242.652149 736.441951,-218.820617 808.191337,-135.767232 C906.346512,-22.1616241 858.144453,159.285074 719.311171,202.580685 C659.799199,221.139365 605.82025,208.746969 561.608044,163.828022 C526.978681,128.645104 520.190334,77.4960566 544.029504,37.8499609 C547.447665,43.3182504 550.506019,47.9888317 553.344491,52.7910348 C573.297753,86.5301015 613.256248,105.946318 649.812574,99.6125154 C695.068218,91.7670556 723.329008,62.4592577 732.184243,14.1939254 C738.936609,-22.5923865 721.489998,-59.6100338 685.789212,-79.5168409 C600.48712,-127.096144 469.957369,-101.286297 423.014632,17.3528497 C375.931971,136.354953 443.671515,283.09337 569.359872,335.506784 C694.80436,387.820486 841.593361,343.735144 929.605994,227.313626 C1072.82092,37.8738922 1014.94407,-228.576588 802.590351,-350.765536 C679.284712,-421.717688 548.263226,-433.946554 410.385429,-393.127828 C412.064526,-395.50101 412.648211,-397.172208 413.815583,-397.854249 C523.884346,-462.061779 641.377114,-498.87601 769.955915,-485.139476 C883.294918,-473.030266 974.54181,-417.198672 1047.29466,-331.169835 C1144.11455,-216.662817 1185.30038,-83.1304589 1169.82871,64.8683364 C1147.26485,280.744119 994.143261,475.783765 760.812835,519.72153 C735.550431,524.475871 709.800289,526.633672 684.274027,530 L656.289088,530 Z' id='Fill-1' fill='%23F6F6F6' opacity='0.15' mask='url(%23mask-3)'%3E%3C/path%3E%3Cg id='Group-4' mask='url(%23mask-3)'%3E%3Cg transform='translate(333.000000, 10.000000)'%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
	background-size: cover;
	background-position: center center;}
.col-bfcm {
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;}
.entry-title-bfcm {
	font-size: 34px;
	letter-spacing: 4.25px;
	color: #fff;
	text-align: center;
	margin: 18px 0 0 0;
	display: block;
	width: 100%;
	text-transform: uppercase;}
.content-split-element-bfcm {
	display: inline-block;
	line-height: 45px;
	padding: 0 18px;
	background-color: crimson;
	letter-spacing: 5px;
	font-size: 30px;
	border-radius: 8px;
	text-transform: uppercase;
	font-style: italic;
	margin: 8px 15px 0 15px;
	color: white;}
.simple-text-bfcm {
	display: block;
	width: 100%;
	font-size: 18px;
	text-transform: uppercase;
	margin: 10px 0 18px 0;
	letter-spacing: 1.5px;
	text-align: center;
	color:#373975;
	font-family: "Medium";}
.simple-text-bfcm span {
	color:darkred;}
.b-hide-bfcm {
	color: crimson;
}	
@media(max-width:576px) {
	.entry-title-bfcm {
		letter-spacing: 2.6px;
		font-size: 21px;}
	.content-split-element-bfcm {
		margin: 5px;
		padding: 0 5px;
		line-height: 22px;
		border-radius: 4px;
		letter-spacing: 2.3px;
		font-size: 14px;}
	.simple-text-bfcm {
		line-height: 16px;
		margin: 3px 0 18px 0;
		font-size: 12px;}
	.simple-text-bfcm span {
		display: block;
		width: 100%;}
  	.b-hide-bfcm {
    display: none;
  }
}

/* END Added by Ryan for BFCM */

// Ryan edit to make sure product title doesn't expand mobile cart
@media(max-width:576px) {
.product-details__title {max-width: 150px;}
.cart-container {max-width: 377px;}
}


//hack by Ryan to fix cart on smaller screens
@media (max-device-width : 768px) {

.ipadFix {
	max-width: 287px;
}

}

//hack by Ryan to fix cart on iPad Pro
@media (min-device-width : 769px) 
and (max-device-width : 1024px) {

.ipadFix {
	max-width: 306px;
}

}
