
$primary-purple: #373975;
$primary-turquoise: #1E90BB;
$primary-purple-tint: #F6F5FD;

$secondary-purple-1: #2C2C77;
$secondary-purple-2: #7F7FD1;
$secondary-purple-3: #8291ED;
$secondary-purple-4: #E0E0FF;

$grayscale-black: #000000;
$grayscale-gray: #999999;
$grayscale-light-gray: #DDDDDD;
$grayscale-offwhite: #F6F6F6;
$grayscale-white: #FFFFFF;

$primary-font: Medium;

$border-radius: 25px;
$text-small: 12px;

$breakpoints: (
  'small':  1024px,
  
  'large':  1200px
) !default;

/* START Added by Ryan for BFCM */
.outer-canvas-bfcm {
font-weight: bold;	width: 100%;	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Bold";
	@media(max-width:767px) {
	margin-bottom:20px;
	}
	}
.canvas-bfcm {
	width: 100%;
background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1440 160' style='enable-background:new 0 0 1440 160;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:url(%23SVGID_1_);%7D .st1%7Bfilter:url(%23Adobe_OpacityMaskFilter);%7D .st2%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23FFFFFF;%7D .st3%7Bopacity:0.15;mask:url(%23mask-3_1_);fill-rule:evenodd;clip-rule:evenodd;fill:%23F6F6F6;enable-background:new ;%7D .st4%7Bfilter:url(%23Adobe_OpacityMaskFilter_1_);%7D .st5%7Bmask:url(%23mask-3_2_);%7D%0A%3C/style%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='Page-1'%3E%3Cg id='Group-2'%3E%3Cg id='Rectangle'%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='207.8832' y1='589.8121' x2='208.8345' y2='589.8003' gradientTransform='matrix(1440 0 0 -160 -299312 94449)'%3E%3Cstop offset='0' style='stop-color:%23005D2F'/%3E%3Cstop offset='1' style='stop-color:%23328E13'/%3E%3C/linearGradient%3E%3Crect class='st0' width='1440' height='160'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='Adobe_OpacityMaskFilter' filterUnits='userSpaceOnUse' x='268' y='-488' width='905' height='1018'%3E%3CfeColorMatrix type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0'/%3E%3C/filter%3E%3C/defs%3E%3Cmask maskUnits='userSpaceOnUse' x='268' y='-488' width='905' height='1018' id='mask-3_1_'%3E%3Cg class='st1'%3E%3Crect id='path-2_1_' class='st2' width='1440' height='160'/%3E%3C/g%3E%3C/mask%3E%3Cpath id='Fill-1' class='st3' d='M656.3,530c-28.1-4.4-56.6-7-84.2-13.5c-156.6-37-261.8-130.2-295.2-289.2 c-44.3-210.9,83.4-397.2,262.1-443.1c104.7-26.9,197.5-3,269.3,80c98.2,113.6,50,295.1-88.9,338.3 c-59.5,18.6-113.5,6.2-157.7-38.8c-34.6-35.2-41.4-86.3-17.6-126c3.4,5.5,6.5,10.1,9.3,14.9c20,33.7,59.9,53.2,96.5,46.8 c45.3-7.8,73.5-37.2,82.4-85.4c6.8-36.8-10.7-73.8-46.4-93.7C600.5-127.1,470-101.3,423,17.4c-47.1,119,20.7,265.7,146.3,318.2 c125.4,52.3,272.2,8.2,360.2-108.2c143.2-189.4,85.3-455.9-127-578.1c-123.3-71-254.3-83.2-392.2-42.4c1.7-2.4,2.3-4,3.4-4.7 c110.1-64.2,227.6-101,356.1-87.3c113.3,12.1,204.6,67.9,277.3,154c96.8,114.5,138,248,122.5,396 c-22.6,215.9-175.7,410.9-409,454.9c-25.3,4.8-51,6.9-76.5,10.3H656.3z'/%3E%3Cdefs%3E%3Cfilter id='Adobe_OpacityMaskFilter_1_' filterUnits='userSpaceOnUse'%3E%3CfeColorMatrix type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0'/%3E%3C/filter%3E%3C/defs%3E%3Cmask maskUnits='userSpaceOnUse' id='mask-3_2_'%3E%3Cg class='st4'%3E%3Crect id='path-2_2_' class='st2' width='1440' height='160'/%3E%3C/g%3E%3C/mask%3E%3Cg id='Group-4' class='st5'%3E%3Cg transform='translate(333.000000, 10.000000)'%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
// background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 1440 160' version='1.1' viewBox='0 0 1440 160' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:url(%23c);%7D .st1%7Bfilter:url(%23e);%7D .st2%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23FFFFFF;%7D .st3%7Bopacity:0.15;mask:url(%23b);fill-rule:evenodd;clip-rule:evenodd;fill:%23F6F6F6;enable-background:new ;%7D .st4%7Bfilter:url(%23d);%7D .st5%7Bmask:url(%23a);%7D%0A%3C/style%3E%3Ctitle%3EGroup%3C/title%3E%3ClinearGradient id='c' x1='207.88' x2='208.83' y1='589.81' y2='589.8' gradientTransform='matrix(1440 0 0 -160 -299312 94449)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2389191D' offset='0'/%3E%3Cstop stop-color='%23DA3C26' offset='1'/%3E%3C/linearGradient%3E%3Crect class='st0' width='1440' height='160'/%3E%3Cdefs%3E%3Cfilter id='e' x='268' y='-488' width='905' height='1018' filterUnits='userSpaceOnUse'%3E%3CfeColorMatrix values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0'/%3E%3C/filter%3E%3C/defs%3E%3Cmask id='b' x='268' y='-488' width='905' height='1018' maskUnits='userSpaceOnUse'%3E%3Cg class='st1'%3E%3Crect class='st2' width='1440' height='160'/%3E%3C/g%3E%3C/mask%3E%3Cpath class='st3' d='m656.3 530c-28.1-4.4-56.6-7-84.2-13.5-156.6-37-261.8-130.2-295.2-289.2-44.3-210.9 83.4-397.2 262.1-443.1 104.7-26.9 197.5-3 269.3 80 98.2 113.6 50 295.1-88.9 338.3-59.5 18.6-113.5 6.2-157.7-38.8-34.6-35.2-41.4-86.3-17.6-126 3.4 5.5 6.5 10.1 9.3 14.9 20 33.7 59.9 53.2 96.5 46.8 45.3-7.8 73.5-37.2 82.4-85.4 6.8-36.8-10.7-73.8-46.4-93.7-85.4-47.4-215.9-21.6-262.9 97.1-47.1 119 20.7 265.7 146.3 318.2 125.4 52.3 272.2 8.2 360.2-108.2 143.2-189.4 85.3-455.9-127-578.1-123.3-71-254.3-83.2-392.2-42.4 1.7-2.4 2.3-4 3.4-4.7 110.1-64.2 227.6-101 356.1-87.3 113.3 12.1 204.6 67.9 277.3 154 96.8 114.5 138 248 122.5 396-22.6 215.9-175.7 410.9-409 454.9-25.3 4.8-51 6.9-76.5 10.3h-27.8z'/%3E%3Cdefs%3E%3Cfilter id='d' filterUnits='userSpaceOnUse'%3E%3CfeColorMatrix values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0'/%3E%3C/filter%3E%3C/defs%3E%3Cmask id='a' maskUnits='userSpaceOnUse'%3E%3Cg class='st4'%3E%3Crect class='st2' width='1440' height='160'/%3E%3C/g%3E%3C/mask%3E%3Cg class='st5'%3E%3C/g%3E%3C/svg%3E");
	background-size: cover;
	background-position: center center;}
.col-bfcm {
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;}
.entry-title-bfcm {
	font-size: 34px;
	letter-spacing: 4.25px;
	color: #fff;
	text-align: center;
	margin: 18px 0 0 0;
	display: block;
	width: 100%;
	text-transform: uppercase;}
.content-split-element-bfcm {
	display: inline-block;
	line-height: 45px;
	padding: 0 18px;
	background-color: #fff;
	letter-spacing: 5px;
	font-size: 30px;
	border-radius: 8px;
	text-transform: uppercase;
	font-style: italic;
	margin: 8px 15px 0 15px;
	color: #000;}
.simple-text-bfcm {
	display: block;
	width: 100%;
	font-size: 18px;
	text-transform: uppercase;
	margin: 10px 0 18px 0;
	letter-spacing: 1.5px;
	text-align: center;
	color:chartreuse;
	font-family: "Medium";}
.simple-text-bfcm span {
	color:khaki;}
	  	.b-hide-bfcm {
    color: white;
  }
@media(max-width:576px) {
	.entry-title-bfcm {
		letter-spacing: 2.6px;
		font-size: 21px;}
	.content-split-element-bfcm {
		margin: 5px;
		padding: 0 5px;
		line-height: 22px;
		border-radius: 4px;
		letter-spacing: 2.3px;
		font-size: 14px;}
	.simple-text-bfcm {
		line-height: 16px;
		margin: 3px 0 18px 0;
		font-size: 12px;}
	.simple-text-bfcm span {
		display: block;
		width: 100%;color:bisque;}
  	.b-hide-bfcm {
    display: none;
  }
}

/* END Added by Ryan for BFCM */

// Ryan edit to make sure product title doesn't expand mobile cart
@media(max-width:576px) {
.product-details__title {max-width: 150px;}
.cart-container {max-width: 377px;}
}


//hack by Ryan to fix cart on smaller screens
@media (max-device-width : 768px) {

.ipadFix {
	max-width: 287px;
}

}

//hack by Ryan to fix cart on iPad Pro
@media (min-device-width : 769px) 
and (max-device-width : 1024px) {

.ipadFix {
	max-width: 306px;
}

}
